@font-face {
    font-family: "bahnschrift";
    src: url("../fonts/bahnschrift.ttf") format("truetype");
    font-family: "amazon";
    src: url("../fonts/AmazonEmberCdRC.ttf") format("truetype");
}

.main-container{
    width: auto;
}

table{
    opacity: 75%;
    z-index: 0;
    position:sticky;
    margin-left: 20%;
    margin-bottom: 1%;
    padding: 2px;
    background: none;
    border: 2px;
    text-align: left;
    font-family: "bahnschrift";
    color:whitesmoke;
    width: 60%;
}

th, td{
    border: solid 1px rgb(116, 0, 0);
    padding: 15px;
}

thead{
    background: rgb(116, 0, 0);
    color: whitesmoke;
    font-family: "amazon";
}

tr:hover td{
    background: rgb(133, 32, 32);
    color: whitesmoke;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: whitesmoke;
    text-transform: uppercase;
}

.main-container h1{
    position: relative;
    text-align: center;
    margin-top: 5%;
    font-size: 65px;
    font-family: "amazon";
    color: whitesmoke;
    margin-bottom: 20px;
}

 .main-container h2{
    position: fixed;
    text-align: left;
    margin-left: 20%;
    font-size: 40px;
    font-family: "amazon";
    color: whitesmoke;
}

#fondo_izq img{
    position: absolute;
    display: block;
    margin-left: 0%;
    height: 87.5%;
    width: 20%;
}

#fondo_der img{
    position: absolute;
    display: block;
    margin-left: 75%;
    height: 87.5%;
    width: 25%;
}