body{
    font-family: arial, helvetica;
    margin: 0;
    padding: 0;
    background: black;
}

nav{
    width: 100%;
    background: whitesmoke;
    overflow: auto;
}

#menu ul{
    list-style: none;
    margin: 0 0 0 150px;
    padding: 0;
}

#menu #item{
    float: left;
}

#menu #item a{
    background: whitesmoke;
    color: black;
    width: 120px;
    padding: 35px 15px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

#menu #desplegable a{
    background: whitesmoke;
    color: black;
    width: 120px;
    padding: 15px 15px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

#menu #desplegable{
    display: none;
    margin: 0 0 0 0px;
}

#menu #item:hover #desplegable{
    display: block;
    position: absolute;
}

#menu #item a:hover{
    background: red;
    transition: 0.5s;
    color: whitesmoke;
    text-transform: uppercase;
}

#logo img{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 50px;
}

#fondo img{
    position: left;
    width: 400px;
    height: 800px;
    margin: auto;
}

#mensaje h1{
    color: whitesmoke;
    font-size: 100px;
    font-family: "Calibri";
    text-align: center;
    margin-top: 200px;
    margin-bottom: -30px;
}

#mensaje h2{
    color: whitesmoke;
    font-size: 30px;
    font-family: "Calibri";
    text-align: center;
}