#delete{
    width: 410px;
    background: none;
    padding: 20px;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;
    font-family: Calibri;
    color: whitesmoke;
    box-shadow: 7px 13px 35px rgb(46, 46, 46);
}

#delete h1{
    font-size: 26px;
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    width: 95%;
    background: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(116, 0, 0);
    font-family: Calibri;
    color: whitesmoke;
    font-size: 18px;
}

#delete .boton1{
    width: 45%;
    background: rgb(116, 0, 0);
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 10px 0 0 0px;
    font-family: "Calibri";
    font-size: 20px;
}

#delete .boton2{
    width: 45%;
    background: rgb(116, 0, 0);
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 10px 0 0 35px;
    font-family: "Calibri";
    font-size: 20px;
}
