@font-face {
    font-family: "bahnschrift";
    src: url("../fonts/bahnschrift.ttf") format("truetype");
    font-family: "amazon";
    src: url("../fonts/AmazonEmberCdRC.ttf") format("truetype");
}

.form-register{
    position: absolute;
    width: 410px;
    background: none;
    padding: 15px;
    margin: 5% 20%;
    border-radius: 2px;
    font-family: "bahnschrift";
    color: whitesmoke;
    box-shadow: 5px 10px 30px rgb(46, 46, 46);
}

.form-register h1{
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "amazon";
}

.controls{
    width: 95%;
    background: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(116, 0, 0);
    font-family: "bahnschrift";
    color: whitesmoke;
    font-size: 18px;
}

.controls-a{
    width: 42%;
    background: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(116, 0, 0);
    font-family: "bahnschrift";
    color: whitesmoke;
    font-size: 18px;
}

.controls-b{
    width: 42%;
    background: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 16px;
    border: 1px solid rgb(116, 0, 0);
    font-family: "bahnschrift";
    color: whitesmoke;
    font-size: 18px;
}

.form-register .boton1{
    width: 45%;
    background: rgb(116, 0, 0);
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 10px 0 0 0px;
    font-family: "bahnschrift";
    font-size: 20px;
}

.form-register .boton2{
    width: 45%;
    background: rgb(116, 0, 0);
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 10px 0 0 35px;
    font-family: "bahnschrift";
    font-size: 20px;
}

.ticket{
    position: absolute;
    width: 410px;
    background: none;
    padding: 15px;
    margin: 5% 52%;
    border-radius: 2px;
    font-family: "bahnschrift";
    color: whitesmoke;
    box-shadow: 5px 10px 30px rgb(46, 46, 46);
}

.ticket .boton1{
    width: 45%;
    background: rgb(116, 0, 0);
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 10px 0 0 0px;
    font-family: "bahnschrift";
    font-size: 20px;
}

.ticket .boton2{
    width: 45%;
    background: rgb(116, 0, 0);
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 10px 0 0 35px;
    font-family: "bahnschrift";
    font-size: 20px;
}

.ticket h1{
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "amazon";    
}

#fondo_izq img{
    position: fixed;
    display: block;
    margin-top: 6%;
    margin-left: -8%;
    height: 60%;
    width:28%;
}

#fondo_der img{
    position: fixed;
    display: block;
    margin-left: 78%;
    margin-top: 6%;
    height: 60%;
    width: 22%;
}