@font-face {
    font-family: "amazon";
    src: url("../fonts/AmazonEmberCdRC.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed !important;
    top: 0 !important;
    z-index: 100;
    width: 100%;
    margin: 0 !important;
    display: flex;
    font-family: "amazon";
    font-size: 20px;
    text-align: center;
}

.container .menu ul {    
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    z-index: 100;
    position: absolute;
    top: 0 !important;
    width: 100%;
}

.menu .item {
    width: 10%;
    float: left;
}

.menu .item a {
    background: whitesmoke;
    color: black;
    width: 100%;
    padding: 35px 15px;
    display: block;
    text-decoration: none;
}

.menu .item .none {
    color: whitesmoke;
}

.menu .desplegable {
    display: none;
    margin: 0 0 0 0;
}

.menu .desplegable a {
    padding: 15px 15px;
    margin: 0 0 0 0;
}

.menu .item a:hover {
    background: red;
    color: whitesmoke;
    transition: 0.5s;
    text-transform: uppercase;
}

.menu .item .none:hover {
    background: whitesmoke;
}

.menu .item .user:hover {
    text-transform: none;
    text-decoration: underline;
}

.menu .item:hover .desplegable {
    display: block;
}

.container .logo {
    position: absolute;
    z-index: 101;
    width: 80px;
    margin: 5px 50px !important;
}

.container .logo img {
    width: 100% !important;
}