@font-face {
    font-family: "cocogoose";
    src: url("../fonts/Cocogoose\ Pro\ Semilight-trial.ttf") format("truetype");
    font-family: "bahnschrift";
    src: url("../fonts/bahnschrift.ttf") format("truetype");
    font-family: "amazon";
    src: url("../fonts/AmazonEmberCdRC.ttf") format("truetype");
}

body{
    margin: 0;
    padding: 0;
    background: black;
}

nav{
    width: 100%;
    background: whitesmoke;
    overflow: auto;
}

#menu ul{
    list-style: none;
    margin: 0 0 0 150px;
    padding: 0;
}

#menu #item{
    float: left;
}

#menu #item a{
    background: whitesmoke;
    color: black;
    width: 120px;
    padding: 35px 15px;
    display: block;
    font-family: "amazon";
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#menu #desplegable a{
    background: whitesmoke;
    color: black;
    width: 120px;
    padding: 15px 15px;
    display: block;
    font-family: "amazon";
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#menu #desplegable{
    display: none;
    margin: 0 0 0 0px;
}

#menu #item:hover #desplegable{
    display: block;
    position: absolute;
}

#menu #item a:hover{
    background: red;
    transition: 0.5s;
    color: whitesmoke;
    text-transform: uppercase;
}

#logo img{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 50px;
}

#fondo img{
    position: absolute;
    width: 25.25%;
}

#titulo h1{
    color: whitesmoke;
    font-size: 90px;
    font-family: "amazon";
    margin-top: 12%;
    margin-bottom: 0;
    margin-left: 28%;
}

#titulo h2{
    position: absolute;
    color: whitesmoke;
    font-size: 95px;
    font-family: "cocogoose";
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 52%;
}

#titulo h3{

    color: red;
    font-size: 90px;
    font-family: "cocogoose";
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 73%;
}


#mensaje h1{
    color: whitesmoke;
    font-size: 100px;
    font-family: "consolas";
    text-align: center;
    margin-top: 200px;
    margin-bottom: -30px;
}

#mensaje h2{
    color: whitesmoke;
    font-size: 30px;
    font-family: "consolas";
    text-align: center;
}