@font-face {
    font-family: "bahnschrift";
    src: url("../fonts/bahnschrift.ttf") format("truetype");
    font-family: "amazon";
    src: url("../fonts/AmazonEmberCdRC.ttf") format("truetype");
}

.form-register{
    width: 410px;
    background: none;
    padding: 20px;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;
    font-family: "bahnschrift";
    color: whitesmoke;
    box-shadow: 7px 13px 35px rgb(46, 46, 46);
}

.form-register h1{
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "amazon";
}

.controls{
    width: 95%;
    background: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(116, 0, 0);
    font-family: "bahnschrift";
    color: whitesmoke;
    font-size: 18px;
}

.form-register .boton{
    width: 100%;
    background: rgb(116, 0, 0);
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 10px 0;
    font-family: "bahnschrift";
    font-size: 20px;
}

#form-register .boton:hover{
    border: whitesmoke;
}

#fondo_izq img{
    position: absolute;
    display: block;
    margin-left: 0%;
    height: 655px;
    width: 25%;
}

#fondo_der img{
    position: absolute;
    display: block;
    margin-left: 75%;
    height: 655px;
    width: 25%;
}