#form-register{
    width: 500px;
    background: none;
    padding: 20px;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;
    font-family: Calibri;
    color: whitesmoke;
    box-shadow: 7px 13px 35px rgb(46, 46, 46);
}

#form-register h1{
    font-size: 26px;
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    width: 65%;
    background: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(116, 0, 0);
    font-family: Calibri;
    color: whitesmoke;
    font-size: 18px;
}

#form-register .boton{
    width: 25%;
    background: rgb(116, 0, 0);
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 10px 0 0 20px;
    font-family: "Calibri";
    font-size: 20px;
}

#form-register .boton:hover{
    border: whitesmoke;
}
