<!DOCTYPE html>
<html>
    <head>
	    <meta charset="UTF-8">
		<title>Buscar Cliente</title>
		<style>
			@import "../static/css/estilo_barra.css";
            @import "../static/css/estilo_buscar.css";
		</style>
	</head>
	<body>
		<div id="logo"><a href="#"><img src="../static/img/logo_bf_1.png"></a></div>
		<nav>
			<div id="menu">
				<ul>
					<li id="item"><a href="index.html">Inicio</a></li>
					<li id="item"><a href="#">Clientes</a>
						<ul id="desplegable">
							<li><a href="clientes_crear.html">Agregar</a></li>
							<li><a href="clientes_buscar.html">Editar</a></li>
							<li><a href="clientes_buscar.html">Eliminar</a></li>
							<li><a href="clientes_listar.html">Lista</a></li>
						</ul>
					</li>
					<li id="item"><a href="#">Membresias</a></li>
					<li id="item"><a href="#">Inventario</a></li>
					<li id="item"><a href="#">Productos</a></li>
					<li id="item"><a href="#">Proveedor</a></li>
					<li id="item"><a href="#">Ventas</a>
						<ul id="desplegable">
							<li><a href="ventas_crear.html">Nueva</a></li>
							<li><a href="ventas_corte.html">Corte</a></li>
						</ul>
					</li>
				</ul>
			</div>	
		</nav>
		<div id="fondo"><a href="#"><img src="../static/img/inicio.jpg"></a></div>
		<div class="fondo_izq"><a herf="#"><img src="../static/img/wallpaper_4.png"></a></div>	
		<div class="fondo_der"><a herf="#"><img src="../static/img/wallpaper_3.png"></a></div>
        <section class="form-register">
            <h1>Buscar Cliente</h1>
            <input class="controls" type="text" name="buscar" id="buscar" placeholder="Buscar">
            <input class="boton" type="submit" value="Buscar">
        </section>
    </body>
</html>