{% extends 'index.html' %}
{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_buscar.css";
		@import "../static/css/estilo_menu.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
	<title>Buscar Cliente</title>
{% endblock head %}

	{% block body %}
	<div class="fondo_izq"><a herf="#"><img src="../static/img/wallpaper_4.png"></a></div>	
	<div class="fondo_der"><a herf="#"><img src="../static/img/wallpaper_3.png"></a></div>
	<section class="form-register">
		<form method="post">
			{% csrf_token %}
			<h1>Buscar Cliente</h1>
			<input class="controls" type="text" name="idclien" id="idclien" placeholder="Buscar">
			<input class="boton" type="submit" value="Buscar">
		</form>
	</section>
	{% endblock body %}
