<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	<title>Editar cliente</title>
	<style>
		@import "../static/css/estilo_formulario.css";
		@import "../static/css/estilo_barra.css";
	</style>
	</head>
	<body>
		<div id="logo"><a href="#"><img src="../static/img/logo_bf_1.png"></a></div>
		<nav>
			<div id="menu">
				<ul>
					<li id="item"><a href="index.html">Inicio</a></li>
					<li id="item"><a href="#">Clientes</a>
						<ul id="desplegable">
							<li><a href="clientes_crear.html">Agregar</a></li>
							<li><a href="clientes_buscar.html">Editar</a></li>
							<li><a href="clientes_buscar.html">Eliminar</a></li>
							<li><a href="clientes_listar.html">Lista</a></li>
						</ul>
					</li>
					<li id="item"><a href="#">Membresias</a></li>
					<li id="item"><a href="#">Inventario</a></li>
					<li id="item"><a href="#">Productos</a></li>
					<li id="item"><a href="#">Proveedor</a></li>
					<li id="item"><a href="#">Ventas</a>
						<ul id="desplegable">
							<li><a href="ventas_crear.html">Nueva</a></li>
							<li><a href="ventas_corte.html">Corte</a></li>
						</ul>
					</li>
				</ul>
		</nav>
		<div id="fondo_izq"><a herf="#"><img src="../static/img/wallpaper_5.png"></a></div>	
		<div id="fondo_der"><a herf="#"><img src="../static/img/wallpaper_6.png"></a></div>	
		<section class="form-register">
			<h1>Edicion del Cliente</h1>
			<input class="controls" type="text" name="id" id="id" placeholder="ID">
			<input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese el Nombre">
			<input class="controls" type="text" name="paterno" id="paterno" placeholder="Ingrese el Apellido Paterno">
			<input class="controls" type="text" name="materno" id="materno" placeholder="Ingrese el Apellido Materno">
			<input class="controls" type="text" name="apodo" id="apodo" placeholder="Ingrese el Apodo">
			<input class="boton" type="submit" value="Confirmar">
			<input class="boton" type="submit" value="Cancelar">
		</section>
	</body>
</html>
</html>