<!DOCTYPE html>
<html>
<head>
	<title>Clientes</title>
	<meta charset="UTF-8">
		<title>Inicio</title>
		<style>
			@import "../static/css/estilo_barra.css";
			@import "../static/css/estilo_tabla.css";
		</style>
</head>
<body>
	<div id="logo"><a href="#"><img src="../static/img/logo_bf_1.png"></a></div>
	<nav>
		<div id="menu">
			<ul>
				<li id="item"><a href="{% url 'index' %}">Inicio</a></li>
				<li id="item"><a href="#">Clientes</a>
					<ul id="desplegable">
						<li><a href="{% url 'clientes_crear' %}">Agregar</a></li>
						<li><a href="{% url 'clientes_buscar' 1 %}">Editar</a></li>
						<li><a href="{% url 'clientes_buscar' 2 %}">Eliminar</a></li>
						<li><a href="{% url 'clientes_listar' %}">Lista</a></li>
					</ul>
				</li>
				<li id="item"><a href="#">Membresias</a></li>
				<li id="item"><a href="#">Inventario</a></li>
				<li id="item"><a href="#">Productos</a></li>
				<li id="item"><a href="#">Proveedor</a></li>
				<li id="item"><a href="#">Ventas</a></li>
			</ul>
	</nav>
		<h1>Clientes</h1>
	<div class="main-container">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido Paterno</th>
					<th>Apellido Materno</th>
					<th>Apodo</th>
				</tr>
			</thead>
			<tbody>
				<!-- Se listan todos los clientes -->
				{% for cliente in clientes %}
					<tr>
						<td>{{ cliente.idclien }}</td>
						<td>{{ cliente.nombre }}</td>
						<td>{{ cliente.apellidopat }}</td>
						<td>{{ cliente.apellidomat }}</td>
						<td>{{ cliente.apodo }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
</body>
</html>