<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
		<title>Eliminar</title>
		<style>
			@import "../static/css/estilo_barra.css";
			@import "../static/css/estilo_eliminar.css";
		</style>
	</head>
	<body>
		<div id="logo"><a href="#"><img src="../static/img/logo_bf_1.png"></a></div>
		<nav>
			<div id="menu">
				<ul>
					<li id="item"><a href="{% url 'index' %}">Inicio</a></li>
					<li id="item"><a href="#">Clientes</a>
						<ul id="desplegable">
							<li><a href="{% url 'clientes_crear' %}">Agregar</a></li>
							<li><a href="{% url 'clientes_buscar' 1 %}">Editar</a></li>
							<li><a href="{% url 'clientes_buscar' 2 %}">Eliminar</a></li>
							<li><a href="{% url 'clientes_listar' %}">Lista</a></li>
						</ul>
					</li>
					<li id="item"><a href="#">Membresias</a></li>
					<li id="item"><a href="#">Inventario</a></li>
					<li id="item"><a href="#">Productos</a></li>
					<li id="item"><a href="#">Proveedor</a></li>
					<li id="item"><a href="#">Ventas</a></li>
				</ul>
		</nav>
</head>
<body>
	<!-- El metodo post se utiliza para enviar la informacion del formulario
			de manera oculta -->
	<section id="delete">
		<form method="post">
			<!-- Se necesita de csrf_token cuando se usa el metodo post -->
			{% csrf_token %}
			<!-- La variable object la envia la vista -->
			<h1>Desea eliminar al cliente?</h1>
			<p>{{ object.nombre }} "{{ object.apodo }}" {{ object.apellidopat }}</p>
            <input class="boton1" type="submit" value="Confirmar">
		</form>
			<a href="{% url 'index' %}"><input class="boton2" type="submit" value="Cancelar"></a>
	</section>
</body>
</html>