<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	<title>Editar cliente</title>
	<style>
		@import "../static/css/estilo_formulario.css";
		@import "../static/css/estilo_barra.css";
	</style>
	</head>
	<body>
		<div id="logo"><a href="#"><img src="../static/img/logo_bf_1.png"></a></div>
		<nav>
			<div id="menu">
				<ul>
					<li id="item"><a href="{% url 'index' %}">Inicio</a></li>
					<li id="item"><a href="#">Clientes</a>
						<ul id="desplegable">
							<li><a href="{% url 'clientes_crear' %}">Agregar</a></li>
							<li><a href="{% url 'clientes_buscar' 1 %}">Editar</a></li>
							<li><a href="{% url 'clientes_buscar' 2 %}">Eliminar</a></li>
							<li><a href="{% url 'clientes_listar' %}">Lista</a></li>
						</ul>
					</li>
					<li id="item"><a href="#">Membresias</a></li>
					<li id="item"><a href="#">Inventario</a></li>
					<li id="item"><a href="#">Productos</a></li>
					<li id="item"><a href="#">Proveedor</a></li>
					<li id="item"><a href="#">Ventas</a></li>
				</ul>
		</nav>
		<section class="form-register">
			<form method="post">
				{% csrf_token %}
				<h1>Edicion del Cliente</h1>
				<p>ID Cliente: {{ cliente.idclien }}</p>
				<input class="controls" type="text" name="nombre" id="nombre" placeholder="{{ cliente.nombre }}" value='{{ cliente.nombre }}'>
				<input class="controls" type="text" name="apellidopat" id="apellidopat" placeholder="{{ cliente.apellidopat }}" value='{{ cliente.apellidopat }}'>
				<input class="controls" type="text" name="apellidomat" id="apellidomat" placeholder="{{ object.apellidomat }}" value='{{ cliente.apellidomat }}'>
				<input class="controls" type="text" name="apodo" id="apodo" placeholder="{{ cliente.apodo }}" value='{{ cliente.apodo }}'>
				<input class="boton" type="submit" value="Confirmar">
			</form>
			<a href="{% url 'index' %}"><input class="boton" type="submit" value="Cancelar"></a>
		</section>
	</body>
</html>
</html>