{% extends 'index.html' %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editar cliente</title>
	<style>
		@import "../static/css/estilo_formulario.css";
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_menu.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}
	<div class="fondo_izq"><a herf="#"><img src="../static/img/wallpaper_5.png"></a></div>	
	<div class="fondo_der"><a herf="#"><img src="../static/img/wallpaper_6.png"></a></div>	
	<section class="form-register">
		<form method="post">
			{% csrf_token %}
			<h1>Edicion del Cliente</h1>
			<input class="controls" type="" name="" value="ID Cliente: {{ cliente.idclien }}">
			<input class="controls" type="text" name="nombre" id="nombre" placeholder="{{ cliente.nombre }}" value='{{ cliente.nombre }}'>
			<input class="controls" type="text" name="apellidopat" id="apellidopat" placeholder="{{ cliente.apellidopat }}" value='{{ cliente.apellidopat }}'>
			<input class="controls" type="text" name="apellidomat" id="apellidomat" placeholder="{{ object.apellidomat }}" value='{{ cliente.apellidomat }}'>
			<input class="controls" type="text" name="apodo" id="apodo" placeholder="{{ cliente.apodo }}" value='{{ cliente.apodo }}'>
			<input type="hidden" name="duracion" id="id_duracion" value="{{ cliente.duracion }}">
			<input type="hidden" name="idmem" value="2">
			<input class="boton" type="submit" value="Confirmar">
			<input class="boton" type="submit" value="Cancelar">
		</form>
	</section>
{% endblock body %}
