{% extends 'index.html' %}
{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crear cliente</title>
	<style>
		@import "../static/css/estilo_formulario.css";
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_menu.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}

	<div class="fondo_izq"><a herf="#"><img src="../static/img/wallpaper_5.png"></a></div>	
	<div class="fondo_der"><a herf="#"><img src="../static/img/wallpaper_6.png"></a></div>		
	<section class="form-register">
		<form method="post">
			{% csrf_token %}
			<h1>Formulario de Registro</h1>
			<input type="hidden" name="idclien" id="idclien" value="{{ idclien }}">
			<p>ID Cliente: {{ idclien }}</p><br/>
			<input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese el Nombre">
			<input class="controls" type="text" name="apellidopat" id="apellidopat" placeholder="Ingrese el Apellido Paterno">
			<input class="controls" type="text" name="apellidomat" id="apellidomat" placeholder="Ingrese el Apellido Materno">
			<input class="controls" type="text" name="apodo" id="apodo" placeholder="Ingrese el Apodo">
			<div class="box_set">
				<!-- Seleccion -->
			<div class="box_1">
				<select name="membresia">
					<option selected disabled>Tipo de membresia</option>
					<option value="2">Membresia Base</option>
					<option value="3">Membresia Intermedia</option>
					<option value="4">Membresia Completa</option>
				</select>
			</div>
			<!-- Seleccion -->
			<div class="box_2">
				<select name="duracion">
					<option selected disabled>Duracion</option>
					<option value="0.25">1 Semana</option>
					<option value="0.5">2 Semanas</option>
					<option value="0.75">3 Semanas</option>
					<option value="1">1 Mes</option>
				</select>
			</div>
			</div>
			<input class="boton1" type="submit" value="Registrar">
			<input class="boton2" type="submit" value="Cancelar">
		</form>
	</section>
{% endblock body %}
