{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<style>
		@import "../static/css/estilo_inicio.css";
		@import "../static/css/estilo_base.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(function(){
			$("#header").load("menu.html");
		});
	</script>
</head>
<body>
	<div id="header"></div>
	
	<div class="img_izq"><img src="../static/img/wallpaper_0.png"></a></div>
	<div class="titulo">
		<h1>Sistema de Gestion</h1>
		<h2>BODY</h2>
		<h3>FIT</h3>
	</div>
	
</body>
</html>