<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inventario Accesorios</title>
	<style>
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_tabla.css";
		@import "../static/css/estilo_menu.css";
		@import "../static/css/estilo_inventario.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
<body>
	<header>
		<div class="bar"></div>
		<div class="container">
			<div class="logo"><a href="#"><img src="../static/img/logo_bf_1.png"></a></div>
			<div class="menu">
				<ul>
					<li class="item"><a href="index.html">Inicio</a></li>
					<li class="item"><a href="#">Clientes</a>
						<ul class="desplegable">
							<li><a href="clientes_crear.html">Agregar</a></li>
							<li><a href="clientes_buscar.html">Editar</a></li>
							<li><a href="clientes_buscar.html">Eliminar</a></li>
							<li><a href="clientes_listar.html">Lista</a></li>
						</ul>
					</li>
					<li class="item"><a href="membresias.html">Membresias</a></li>
					<li class="item"><a href="inventario.html">Inventario</a></li>
					<li class="item"><a href="#">Productos</a>
						<ul class="desplegable">
							<li><a href="producto_crear.html">Agregar</a></li>
							<li><a href="producto_buscar.html">Editar</a></li>
							<li><a href="producto_buscar.html">Eliminar</a></li>
						</ul>
					</li>
					<li class="item"><a href="#">Proveedor</a>
						<ul class="desplegable">
							<li><a href="proveedor_crear.html">Agregar</a></li>
							<li><a href="proveedor_buscar.html">Editar</a></li>
							<li><a href="proveedor_buscar.html">Eliminar</a></li>
							<li><a href="proveedor_listar.html">Lista</a></li>
						</ul>
					</li>
					<li class="item"><a href="#">Ventas</a>
						<ul class="desplegable">
							<li><a href="ventas_crear.html">Nueva</a></li>
							<li><a href="ventas_corte.html">Corte</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="inv_izq"><a herf="#"><img src="../static/img/suministro_2.png"></a></div>	
	<div class="inv_der"><a herf="#"><img src="../static/img/suministro_1.png"></a></div>	
	<!--Opciones de Inventario-->
	<div class="inventarios">
		<div class="opciones">
			<a href="inventario.html">Inventario General</a>
		</div>
		<div class="opciones">
			<a href="inventario_bebidas.html">Inventario Bebidas</a>
		</div>	
		<div class="opciones">	
			<a href="inventario_suplementos.html">Inventario Suplementos</a>
		</div>
		<div class="opciones">
			<a href="inventario_ropa.html">Inventario Ropa</a></li>
		</div>
		<div class="opciones">
			<a href="inventario_accesorios.html">Inventario Accesorios</a>
		</div>
	</div>
	<div class="main-container">
		<table>
			<caption class="titulo">Inventario Accesorios</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Cantidad</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ producto.idprod }}</td>
					<td>{{ producto.nombre }}</td>
					<td>{{ producto.precio }}</td>
					<td>{{ producto.cant }}</td>
				</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="3">Cantidad de Productos</th>
				<th>AMOUNT</th>
			</tr>
		</tfoot>
	</table>
</div>	
</body>
</html>