{% extends 'index.html' %}	
	{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Membresias</title>
	<style>
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_menu.css";
		@import "../static/css/estilo_membresia.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}
	<div class="section">
		<!--Opcion 1-->
		<div class="box">
			<img src="../static/img/membresia_1.jpg">
			<div class="hover">
				<a href="#"><img src="../static/img/membresia_1_hover.jpg">
				<div class="hover_int"><h1>BASE</h1></div></a>
			</div>
		</div>
		<!--Opcion 2-->
		<div class="box">
			<img src="../static/img/membresia_2.jpg">
			<div class="hover">
				<a href="#"><img src="../static/img/membresia_2_hover.jpg">
				<div class="hover_int"><h1>INTERMEDIA</h1></div></a>
			</div>
		</div>
		<!--Opcion 3-->
		<div class="box">
			<img src="../static/img/membresia_3.jpg">
			<div class="hover">
				<a href="#"><img src="../static/img/membresia_3_hover.jpg">
				<div class="hover_int"><h1>COMPLETA</h1></div></a>
			</div>
		</div>
	</div>
	<div class="renovar">
		<a class="enlace" href="{% url 'clientes_buscar' 3 %}">Renovar o Actualizar Membresia</a>
	</div>
{% endblock body %}