{% extends 'index.html' %}	
	{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not Found</title>
	<style>
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_not_found.css";
		@import "../static/css/estilo_menu.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}
	<div class="mensaje">
		<h1>ERROR 404</h1>
       	<h2>No se pudo encontrar el elemento que desea</h2>
	</div>
{% endblock body %}