{% extends 'index.html' %}	
	{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agregar Productos</title>
	<style>
		@import "../static/css/estilo_inicio.css";
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_menu.css";
		@import "../static/css/estilo_suminitro.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}
	<div class="section">
		<!--Opcion 1-->
		<div class="box">
			<img src="../static/img/opcion_1.jpg">
			<div class="hover">
				<a href="{% url 'suministro_bebidas' %}"><img src="../static/img/opcion_1_hover.jpg">
				<div class="hover_int"><h1>BEBIDAS</h1></div></a>
			</div>
		</div>
		<!--Opcion 2-->
		<div class="box">
			<img src="../static/img/opcion_2.jpg">
			<div class="hover">
				<a href="{% url 'suministro_suplementos' %}"><img src="../static/img/opcion_2_hover.jpg">
				<div class="hover_int"><h1>SUPLEMENTOS</h1></div></a>
			</div>
		</div>
		<!--Opcion 3-->
		<div class="box">
			<img src="../static/img/opcion_3.jpg">
			<div class="hover">
				<a href="{% url 'suministro_ropa' %}"><img src="../static/img/opcion_3_hover.jpg">
				<div class="hover_int"><h1>ROPA</h1></div></a>
			</div>
		</div>
		<!--Opcion 4-->
		<div class="box">
			<img src="../static/img/opcion_4.jpg">
			<div class="hover">
				<a href="{% url 'suministro_accesorios' %}"><img src="../static/img/opcion_4_hover.jpg">
				<div class="hover_int"><h1>ACCESORIOS</h1></div></a>
			</div>
		</div>
	</div>
{% endblock body %}