<!DOCTYPE html>
<html>
<head>
	<title>Productos</title>
</head>
<body>
	<h1>Productos</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>stock</th>
				<th>precio</th>
				<th>Opcion</th>
			</tr>
		</thead>
		<tbody>
			<!-- Se listan todos los productos -->
			{% for producto in productos %}
				<tr>
					<td>{{ producto.idprod }}</td>
					<td>{{ producto.nombreprod }}</td>
					<td>{{ producto.stock }}</td>
					<td>{{ producto.precioprod }}</td>
					<!-- Redirige a la pagina para editar o elimnar al producto -->
					<td><a href="{% url 'productos_editar' producto.idprod %}">EDITAR </a><a href="{% url 'productos_eliminar' producto.idprod %}">ELIMINAR</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- Redirige a la pagina para crear el producto -->
	<a href="{% url 'productos_crear' %}">CREAR</a>
</body>
</html>