<!DOCTYPE html>
<html>
<head>
	<title>Confirmar</title>
</head>
<body>
	<h1>Confirmar eliminacion</h1>
	<!-- El metodo post se utiliza para enviar la informacion del formulario
			de manera oculta -->
	<form method="post">
		<!-- Se necesita de csrf_token cuando se usa el metodo post -->
		{% csrf_token %}
		<!-- La variable object la envia la vista -->
		<h1>Desea eliminar al producto {{ object.nombreprod }}</h1>
		<!-- Al presionar el boton devuelve la confirmacion a la vista -->
		<button type="submit" name="button">CONFIRMAR</button>
		<!-- Redirige a la lista de productos -->
		<a href="{% url 'productos_listar' %}">Cancelar</a>
	</form>
</body>
</html>