{% extends 'index.html' %}	
	{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_buscar.css";
		@import "../static/css/estilo_menu.css";
		@import "../static/css/estilo_producto.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
	<title>Buscar Producto</title>
</head>
{% endblock head %}
{% block body %}
	<div class="imagen_izq"><img src="../static/img/item_1.png"></a></div>
	<div class="imagen_der"><img src="../static/img/item_2.png"></a></div>
	<section class="form-register">
	<h1>Buscar Producto</h1>
		<form method="post">
			{% csrf_token %}
			<input class="controls" type="text" name="idprod" id="idprod" placeholder="Buscar">
			<input class="boton" type="submit" value="Buscar">
		</form>
	</section>
{% endblock body %}