{% extends 'index.html' %}	
	{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editar Proveedor</title>
	<style>
		@import "../static/css/estilo_formulario.css";
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_menu.css";
		@import "../static/css/estilo_proveedor.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}
	<div class="imagen_der"><img src="../static/img/proveedor_1.png"></a></div>	
	<section class="form-register">
		<form method="post">
			{% csrf_token %}
			<h1>Editar Proveedor</h1>
			<p class="controls">ID Proveedor: {{ idprov }}</p>
			<input type="hidden" name="idprov" id="idprov" value="{{ idprov }}">
			<input class="controls" type="text" name="nombre" id="nombre" placeholder="{{ nombre }}">
			<input class="controls" type="text" name="telefono" id="telefono" placeholder="{{ telefono }}">
			<input class="boton" type="submit" value="Editar" name="confirmar">
			<input class="boton" type="submit" value="Cancelar" name="confirmar">
		</form>
	</section>
{% endblock body %}

