{% extends 'index.html' %}	
	{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Suministrar Suplementos</title>
	<style>
		@import "../static/css/estilo_suministro_productos.css";
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_menu.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}
	<div class="fondo_izq"><img src="../static/img/suplemento.png" alt=""></div>	
	<section class="form-register">
		<form method="post">
			{% csrf_token %}
			<h1>Formulario de Registro</h1>
			<p class="controls">ID Suministro {{ idsum }}</p>
			<input class="controls-a" type="hidden" name="idsum" id="idsum" value="{{ idsum }}">
	        <input class="controls-b" type="text" name="idprov" id="idprov" placeholder="ID del proveedor">
	        <p class="controls">ID Producto: {{ idprod }}</p>
			<input class="controls-a" type="hidden" name="idprod" id="idprod" value="{{ idprod }}">
			<input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese el Nombre">
			<input class="controls-a" type="text" name="cant_gram" id="cant_gram" placeholder="Cantidad en gr">
			<input class="controls-b" type="text" name="cant" id="cant" placeholder="Cantidad a suministrar">
	        <input class="controls" type="text" name="precio" id="precio" placeholder="Ingrese precio del producto">
	        <p class="controls">Fecha: {{ fecha }}</p>
	        <p class="controls">Hora: {{ hora }}</p>
	        <h2>Estado de venta</h2>
	        <div class="radio">
	            <div class="option">
	                <input class="seleccion" name="estado_venta" type="radio" id="select1" value="1">
	                <label for="select1">En venta</label>
	            </div>
	            <div class="option">
	                <input class="seleccion" name="estado_venta" type="radio" id="select2" value="0">
	                <label for="select2">En inventario</label>
	            </div>
	        </div>
			<input class="boton" type="submit" value="Registrar" name="confirmar">
			<input class="boton" type="submit" value="Cancelar" name="confirmar">
		</form>
	</section>
    <!--Tabla proveedores-->
    <div class="tabla">
		<table>
			<caption class="titulo">Tabla de Proveedores</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
				</tr>
			</thead>
			<tbody>
				{% for proveedor in proveedores %}
				<!-- Se listan todos los proveedores -->
					<tr>
						<td>{{ proveedor.0 }}</td>
						<td>{{ proveedor.1 }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
{% endblock body %}