{% extends 'index.html' %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nueva Venta</title>
	<style>
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_ventas.css";
		@import "../static/css/estilo_menu.css";
		@import "../static/css/estilo_formulario.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}
	<div id="fondo_izq"><a herf="#"><img src="../static/img/logo_bf_1.png"></a></div>	
	<div id="fondo_der"><a herf="#"><img src="../static/img/logo_bf_1.png"></a></div>	
	<section class="form-register">
		<h1>Registro de Ventas</h1>
		<input class="controls" type="" name="" value="ID Venta: {{ idven }}">
		<input class="controls" type="" name="" value="ID Producto: {{ idprod }}">
		<input class="controls" type="" name="" value="ID Cliente: {{ idclien }}">
		<input class="controls" type="" name="" value="Tipo de membresia: {{ membresia }}">
		<input class="controls" type="" name="" value="Duracion: {{ duracion }}">
		<input class="controls" type="" name="" value="Precio: {{ precio }}">
		<input class="controls" type="" name="" value="Fecha: {{ fecha }}">
		<input class="controls" type="" name="" value="Hora: {{ hora }}">
		<form method="post">
			{% csrf_token %}
			<input class="boton1" type="submit" value="Registrar" name="registrar">
			<input class="boton2" type="submit" value="Cancelar" name="registrar">
		</form>
	</section>
{% endblock body %}