{% extends 'index.html' %}	
	{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nueva Venta</title>
	<style>
		@import "../static/css/estilo_base.css";
		@import "../static/css/estilo_ventas.css";
		@import "../static/css/estilo_menu.css";
	</style>
	<link rel="icon" href="../static/img/icon_bf.ico">
</head>
{% endblock head %}
{% block body %}
	<div id="fondo_izq"><a herf="#"><img src="../static/img/logo_bf_1.png"></a></div>	
	<div id="fondo_der"><a herf="#"><img src="../static/img/logo_bf_1.png"></a></div>	
	<section class="form-register">
		<form method="post">
			{% csrf_token %}
			<h1>Registro de Ventas</h1>
			<p class="controls">ID Venta: {{ idcom }}</p>
			<input type="hidden" name="idcom" id="idcom" value="{{ idcom }}">
			<input class="controls-b" type="text" name="idclien" id="idclien" placeholder="ID del Cliente">
			<input class="controls" type="text" name="idprod" id="idprod" placeholder="ID del Producto">
			<input class="controls-a" type="text" name="precio" id="precio" placeholder="Precio">
			<input class="controls-b" type="text" name="cant" id="cant" placeholder="Cantidad">
			<p class="controls">Fecha: {{ fecha }}</p>
			<p class="controls">Hora: {{ hora }}</p>
			<input class="boton1" type="submit" value="Registrar" name="confirmar">
			<input class="boton2" type="submit" value="Cancelar" name="confirmar">
			{% if not nueva %}
			<input type="hidden" value="" name="nueva">
			{% endif %}
		</form>
	</section>
	<div class="ticket">
		<h1>Ticket de Venta</h1>	
		<!--Tabla para el ticlket de la compra-->
		<table>
			<thead>
				<tr>
					<td class="left">Nombre del producto</td>
					<td >Cantidad</td>
					<td class="right">Precio</td>
				</tr>
			</thead>
			<tbody>
				{% for dt_c in dt_compras %}
				<tr>
					<td>{{ dt_c.2 }}</td>
					<td>{{ dt_c.4 }}</td>
					<td>{{ dt_c.3 }}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th class="left">Total</th>
					<th class="right">{{ total }}</th>
				</tr>
			</tfoot>	
		</table>
		<!--Botones del ticket-->	
		<form method="post">
			{% csrf_token %}
			<input class="boton1" type="submit" value="Finalizar" name="confirmar">
			<input class="boton2" type="submit" value="Remover" name="confirmar">
		</form>
	</div>
{% endblock body %}